  <h1 class="row font-weight-bold">Nouveau post</h1>

  <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">

    <label for="title" class="font-weight-bold">
      Titre
    </label>
    <input
      class="col-12 form-control"
      type="text"
      id="title"
      formControlName="title"
    >

    <label for="content" class="font-weight-bold">
      Contenu
    </label>
    <textarea
      class="col-12 form-control"
      type="text"
      id="content"
      formControlName="content"
    >
    </textarea>

    <button
      type="submit"
      class="btn btn-success mt-3"
      [disabled]="newPostForm.invalid"
    >
      Soumettre
    </button>

  </form>